body{
    background-color: rgb(31, 28, 28);
    margin: 0px;
}
.container{
    display: grid;
    background-color: white;
    margin: auto;
    width: 100%;
    height: 1000px;
    grid-template-areas:"navbar navbar navbar navbar navbar navbar navbar"
                        "sidepanel varea varea varea varea varea varea"
                        "sidepanel varea varea varea varea varea varea"
                        "sidepanel varea varea varea varea varea varea"
                        "sidepanel varea varea varea varea varea varea";
}
.navbar{
    grid-area: navbar;
    text-align: center;
    background-color: blue;
}
.sidepanel{
    grid-area: sidepanel;
    background-color: red;
}
.varea{
    grid-area: varea;
}