body{
    background-color: rgb(31, 28, 28);
    margin: 0px;
}
.split_content{
    display: flex
}
.navbar{
    display: grid;
    width: 100%;
    height: 50px;
    margin-top: px;
    grid-template-areas: "right-side center left-side";
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(31, 28, 28);
}
.center,.searchbar{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.v_area{
    padding: 20px 0px 0px 20px;
}
.v_area img{
    height: 130px;
    border-radius: 10px;
}
.box{
    width: 65%;
    height: 22px;
    border-radius: 25px;
    border: 1px solid rgb(60, 59, 59);
    background-color: rgb(31, 28, 28);
}
.searchbar i{
    position: relative;
    right: 28px;
    color: white;
    font-size: 12px;
    /* background-color: red; */
}
.right-side{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:white;
    font-size: 15px;
}
.right-side div{
    margin-left: 15px;
}
.container{
    display: grid;
    background-color: rgb(31, 28, 28);
    width: 100%;
    /* height: 950px; */
    grid-template-areas:"varea varea varea varea varea"
                        "varea varea varea varea varea"
                        "varea varea varea varea varea"
                        "varea varea varea varea varea";
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    color: white;
}
.sidepanel{
    /* grid-area: sidepanel; */
    /* background-color:rgb(31, 28, 28); */
    /* background-color: red; */
    width: 190px;
    /* height: 725px; */
    /* padding-left: 15px; */
    /* overflow-y: scroll; */
}
.varea{
    grid-area: varea;
}
.icons{
    color: white;
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 30px;
}
.icons p{
    margin-left: 10px;
}
.left-side{
    display: flex;
    padding:0px 0 0 15px ;
    align-items: center;
    color: white;
}
.left-side img{
    height: 14px;
    width: 65px;
    margin-left: 10px;
}
.left-side .icons{
    font-size: 18px;
}
.left-side p{
    margin-top: -10px;
    font-size: 6px;
    font-weight: 100;
}
.main,.you,.subs,.explore,.morefrom,.help{
    /* background-color: teal; */
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.273);
    padding-left: 15px;
}
.subimg img{
    height: 20px;
    border-radius: 50px;
}
.navbar2item{
    background-color: rgb(43, 42, 42);
    padding: 3px 5px 5px 5px;
    width: fit-content;
    font-size: 13px;
    border-radius: 5px;
    height: 12px;
    color: white;
}
.navbar2{
    display: flex;
    /* background-color: red; */
    justify-content: space-evenly;
}
